<app-sidebar></app-sidebar>

<section class="main profile">
  <div class="profile-header">
    <h1>My Profile</h1>
  </div>

  <div style="position: relative;">
    <span class="image-cropper" style=" width: 150px; height: 150px;">
      <img src="assets/images/avatar.jpg" alt="profile image" avatar>
    </span>
    <button class="edit-img-btn"><i class="material-icons">edit</i></button>
  </div>

  <form action="">
    <!-- First Name -->
    <input type="text" placeholder="First Name" value="Shenske" required>

    <!-- Last Name -->
    <input type="text" placeholder="Last Name" value="Nakamura" required>

    <!-- email -->
    <input type="text" placeholder="Email address"  value="shenske.nakam@gmail.com" required>

      <!-- phone number -->
      <input type="number" placeholder="Phone Number" value="08034567890" required>

    <!-- Submit button -->
    <input type="submit" value="Save Changes" class="edit-btn">
  </form>
</section>
