.header-section {
  background: #F1F4FB;
}
.header-section article {
  padding-block-start: 118px;
  padding-block-end: 130px;
}
.header-section h1 {
  font-family: SFProText-bold;
  font-size: 55px;
  line-height: 55px;
  color: #4169E2;
}
.header-section h3 {
  font-family: SFProText;
  font-size: 18px;
  line-height: 21px;
  color: #1D2029;
}

.book-section {
  padding: 0 150px ;
  padding-block-start: 7.25rem;
  padding-block-end: 10.375rem;
  background: rgba(241, 241, 241, 0.55);
}
.book-section h3 {
  font-family: SFProText;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1D2029;
}
.book-section h4 {
  font-family: SFProText;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 1rem;
  margin-bottom: .8rem;
}
.book-section span {
  font-family: SFProText;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
}
.book-section p {
  font-family: SFProText;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 4.25rem;
  color: #333333;
}
.book-section a {
  color: #007bff;
  text-decoration: none;
}
.book-section .tag {
  display: flex; justify-content: space-between;
}
.book-section .filter-by {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.book-section .filter-by > div {
  display: flex;
  justify-content: space-between;
}
.tag h6 {
  font-family: SFProText;
  color: #828282;
}
.tag a {
  font-family: SFProText;
  font-size: 16px;
  color: #2DA5EC;
}

.book-section-grid img {
  max-width: none;
}
.book-list {
  padding: 37px 0 110px;
}
.book-list-hr{
  border: 1px solid #A7A7A7;
}
.book-list h3 {
  margin-top: 6.9rem;
  margin-bottom: 2.5rem;
}
.pagination {
  display: -ms-flexbox;
  display: flex;
  border-radius: .25rem;
}
.pagination .btn {
  color: #4169E2;
  font-size: 1rem;
  padding: .8rem 1.25rem;
  margin-right: .25rem;
  border: 1px solid #4169E2;
  box-sizing: border-box;
  border-radius: 4px;
}
.pagination .gray {
  background: #F1F1F1;
  border: none;
}
.pagination .blue {
  color: white;
  background: #4169E2;
}

@media (max-width: 900px) {
  .book-section {
    padding-block-start: 84px;
    padding-block-end: 100px;
  }
  .book-section .filter-by {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .book-section {
    padding: 0 20px ;
    padding-block-start: 84px;
    padding-block-end: 100px;
  }
  .book-list {
    padding-block-start: 25px;
  }
}

@media (max-width: 600px) {
  .book-section .filter-by {
    width: 85%;
  }
  .pagination .btn {
    font-size: 13px;
    padding: 10px 16px;
    margin-right: 3px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .book-section .filter-by {
    width: 70%;
  }
  .tag span {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .pagination {
    justify-content: center;
  }
}
