<section>
  <div class="header-section">
    <article class="container">
      <h1>Where books and people meet.</h1>
      <h3>Connect with book lovers and share books to read.</h3>
    </article>
  </div>

  <div class="book-section bg-white book-list">
    <div class="container">
      <div class="tag">
        <div class="filter-by">
          <h6>Filter by</h6>

          <div>
            <span>
              <i><img src="assets/icons/baseline-category-24px.svg" alt=""></i>
                Categories
              <i><img src="assets/icons/baseline-arrow_drop_down-24px (2).svg" alt=""></i>
            </span>

            <span>
              <i><img src="assets/icons/baseline-label-24px.svg" alt=""></i>
                Tags
              <i><img src="assets/icons/baseline-arrow_drop_down-24px (2).svg" alt=""></i>
            </span>

            <span>
              <i><img src="assets/icons/baseline-person-24px.svg" alt=""></i>
                Authors
              <i><img src="assets/icons/baseline-arrow_drop_down-24px (2).svg" alt=""></i>
            </span>
          </div>
        </div>

        <div class="show-all">
          <a href="#">Show all</a>
        </div>

      </div>

      <hr>

      <h3>New Posts</h3>

      <div class="book-section-grid">
        <div class="book-section-subGrid">
          <img src="assets/images/book1-1.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book1-2.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book1-3.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book1-4.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>
      </div>

      <hr class="book-list-hr">

      <h3>All Books</h3>

      <div class="book-section-grid">
        <div class="book-section-subGrid">
          <img src="assets/images/book1.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book2.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book3.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book4.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>
      </div>

      <div class="book-section-grid">
        <div class="book-section-subGrid">
          <img src="assets/images/book5.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book6.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book7.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book8.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>
      </div>

      <div class="book-section-grid">
        <div class="book-section-subGrid">
          <img src="assets/images/book9.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book10.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book11.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>

        <div class="book-section-subGrid">
          <img src="assets/images/book12.png" alt="">
          <h4>Photographer’s trouble shooter</h4>
          <span>by <a href="#">Michael Freeman</a></span>
        </div>
      </div>

      <div class="row pagination">
        <button class="btn gray" disabled><i><img src="assets/icons/baseline-arrow_back-24px.svg" alt=""></i></button>
        <button class="btn blue">1</button>
        <button class="btn">2</button>
        <button class="btn">3</button>
        <button class="btn">4</button>
        <button class="btn">5</button>
        <span>...</span>
        <button class="btn">10</button>
        <button class="btn blue"><i><img src="assets/icons/baseline-arrow_forward-24px.svg" alt=""></i></button>
      </div>

    </div>
  </div>
</section>
