<div class="book-header">
  <div>
    <h1>Where books and people meet.</h1>
    <p>Connect with book lovers and share books to read.</p>
  </div>
</div>

<div class="more-book">
  <h3>New Posts</h3>

  <div class="book-section-grid" *ngFor="let array of newBooks;">
    <div *ngFor="let book of array">
      <a [routerLink]="['/book-view', book._id]" >
        <img [src]="book?.avatar" [alt]="book?.title">
        <h4>{{book?.title}}</h4>
      </a>
      <span>by <a href="#">{{book?.author}}</a></span>
    </div>
  </div>

  <div class="hrule"></div>
</div>

<div class="more-book">
  <h3>All Books</h3>
  <div class="book-section-grid" *ngFor="let array of allBooks;">
    <div *ngFor="let book of array">
      <a [routerLink]="['/book-view', book._id]" >
        <img [src]="book?.avatar" [alt]="book?.title">
        <h4>{{book?.title}}</h4>
      </a>
      <span>by <a href="#">{{book?.author}}</a></span>
    </div>
  </div>
</div>


<footer id="footer">
  <h3>©2019 Suhstei - All Rights Reserved.</h3>
</footer>
