<app-sidebar></app-sidebar>

<section class="main profile" my-books>
  <div class="profile-header">
    <h1>My Books</h1>
    <a [routerLink]="['add-book']">Add Book</a>
  </div>

  <div class="book-list-header">
      <h2>List of Books </h2>
      <!-- <span>(Confirm by click the recieved button once book is returned)</span> -->
    </div>

  <div class="book-section-grid">
    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book1.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book2.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book3.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book4.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>
  </div>

  <div class="book-section-grid">
    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book5.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book6.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book7.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <a [routerLink]="['book-review']">
        <img src="assets/images/book8.png" alt="">
        <h4>Photographer’s trouble shooter</h4>
      </a>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>
  </div>
</section>
