<header>
  <nav id="navbar">
    <div>
      <div>
        <a [routerLink]="['']">
          <img src="assets/icons/new-logo.png" alt="suhstei" class="logo">
        </a>

        <div class="vl"></div>

        <form (ngSubmit)="searchBooks(searchTerm)">
          <input type="search" [(ngModel)]="searchTerm" name="searchTerm" placeholder="&#xF002; Search" aria-label="Search" style="font-family: SFProText, FontAwesome">
        </form>
      </div>

      <ul class="nav-link">
        <span>
          <li><a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
          <li><a [routerLink]="['book']" routerLinkActive="active">Book</a></li>
        </span>

        <span *ngIf="!auth.isAuthenticated()">
          <li><a [routerLink]="['/user/sign-in']">Sign In</a></li>
          <li><a [routerLink]="['/user/sign-up']" class="sign-up">Sign Up</a></li>
        </span>
        <li *ngIf="auth.isAuthenticated()"><a [routerLink]="['/user/profile']">Welcome {{auth.currentUser.firstName}}!</a></li>
      </ul>

      <button class="openbtn hamburger-menu" onclick="openNav()" aria-disabled="true">&#9776;</button>
      <ul id="mySidepanel" class="sidepanel hamburger-menu">
        <li><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a></li>
        <li><a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" onclick="closeNav()">Home</a></li>
        <li><a [routerLink]="['book']" routerLinkActive="active" onclick="closeNav()">Book</a></li>
        <li><a [routerLink]="['user/sign-in']" routerLinkActive="active" onclick="closeNav()">Sign In</a></li>
        <li><a [routerLink]="['user/sign-up']" routerLinkActive="active" onclick="closeNav()">Sign Up</a></li>
      </ul>
    </div>
  </nav>
</header>
