nav {
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FFFFFF;
  padding: 20px 0;
  border-bottom: 1px solid #f2f2f2;
  overflow: hidden;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top .5s;
  z-index: 1000;
}

nav > div {
  display: inline-flex;
  align-items: center;
}

nav > div a {
  width: 7rem;
}

.vl {
  border-left: 1px solid #C4C4C4;
  margin-left: 21px !important;
  margin-right: 38px !important;
  height: 1.8rem;
}

[type="search"] {
	/* width: 4rem; */
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	padding: .5rem;
	outline: 0;
	border-width: 0;
	font-size: 1rem;
	font-family: CircularStd;
	font-style: normal;
	font-weight: 450;
}
[type="search"]::placeholder {
	color: #C4C4C4;
}
[type="search"]:focus {
	width: 100%;
	border-width: 0 0 2px;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 0;
  margin: 0;
  padding-top: 45px !important; /* Place content 60px from the top */
  list-style: none;
  transition: 0.4s; /* 0.5 second transition effect to slide in the sidepanel */
  background-color: #FFFFFF;
  box-shadow: 10px 2px 40px rgba(0, 0, 0, 0.1);
}

/* The sidepanel links */
.sidepanel a {
  display: block;
  transition: 0.3s;
  padding: 15px 15px 15px 24px;
  line-height: 1em;
  font-family: CircularStd;
  font-style: normal;
  font-weight: 450;
  font-size: 1em;
  text-transform: capitalize;
  color: #1D2029;
  text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover, .sidepanel .active {
  color: #4169E2;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: #222222;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #ffffff;
  color: #222222;
  padding: 10px 15px;
  float: right;
  border: none;
}

.hamburger-menu {
  display: none;
}

.nav-link {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-link li:nth-child(2) {
  margin-inline-end: 7.5rem;
}

.nav-link a {
  display: block;
  padding: .9em 24px;
  line-height: 1em;
  font-family: CircularStd;
  font-style: normal;
  font-weight: 450;
  font-size: 1em;
  text-transform: capitalize;
  color: #1D2029;
  text-decoration: none;
}

.nav-link a:hover:not(.sign-up), .nav-link a.active {
  color: #4169E2;
}

.sign-up {
  text-align: center;
  padding: .5rem 1.375rem;
  background: #4169E2;
  border-radius: 50px;
  color: #FFFFFF !important;
}





@media (max-width: 1024px) {
  .hamburger-menu {
    display: block;
  }
  .nav-link {
    display: none;
  }

  nav > div {
    justify-content: space-around;
    width: 60%;
  }

  [type="search"] {
    width: 47px;
  }

}
