<app-sidebar></app-sidebar>

<section class="main profile " my-books>
  <div class="profile-header">
    <h1>History</h1>
  </div>

  <div class="book-list-header">
    <h2>Showing Recent History</h2>
    <!-- <span>(Confirm by click the recieved button once book is returned)</span> -->
  </div>

  <div history *ngFor="let item of historyData">
    <a [routerLink]="['/home']">
      <h3>9:15 AM | Mon, Feb 11, 2019</h3>
      <div class="first">
        <span>
          <span class="image-cropper" style=" width: 36px; height: 36px;">
            <img *ngIf="item.requester.avatar" [src]="item.requester.avatar" alt="profile image" avatar>
              <img *ngIf="!item.requester.avatar" src="assets/images/avatar.jpg" alt="profile image" avatar>
          </span>
          <h4>{{item.requester.firstname}} {{item.requester.lastname}}</h4>
        </span>

        <span>
          <h3>Book Status</h3>
          <h4>{{item.status}}</h4>
        </span>
      </div>

      <div class="last">
        <span>
          <h3>BOOK TITLE</h3>
          <h4>{{item.book_requested.title}}</h4>
        </span>
        <h3>9:15 AM | Mon, Feb 11, 2019</h3>
      </div>
    </a>
  </div>

</section>