<div class="book-header">
  <div>
    <h1>{{book?.title | titlecase}}</h1>
    <span>by <a href="/search-result?search={{book?.author}}">{{book?.author | titlecase}}</a></span>
  </div>
</div>

<div class="review-section">
  <div class="book-view">
    <img [src]="book?.avatar" alt="">
    <h5 *ngIf="auth.isLoggedIn()  && !selfUploaded">Connect with Book Owner</h5>
    <div *ngIf="auth.isLoggedIn()  && !selfUploaded" class="contact-link">
      <a href="#"><i><img src="assets/icons/baseline-call-24px.svg" alt=""></i>Call</a>
      <a href="#"><i><img src="assets/icons/whatsapp.svg" alt=""></i>Chat</a>
    </div>
    <button *ngIf="auth.isLoggedIn() && !selfUploaded" (click)="request()" class="book-button">Borrow Book</button>
    <button *ngIf="auth.isLoggedIn() && selfUploaded" (click)="request()" class="book-button" style="margin-block-start: 3rem;">Edit</button>
  </div>


  <div class="book-article">
    <div class="uploader">
      <span class="image-cropper" style=" width: 40px; height: 40px; margin-inline-end: 25px;">
        <img src="assets/images/avatar.jpg" alt="avatar" id="uploader-avatar">
      </span>

      <h3>{{book?.uploader_name}}</h3>
    </div>

    <h2>Book review</h2>
    <p>{{book?.description}}</p>
  </div>
</div>

<div class="more-book">
  <h3>More Books</h3>
  <div class="book-section-grid">
    <div>
      <img src="https://via.placeholder.com/220x312/b3d7ff/FFFFFF/?text=Book-A" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div>
      <img src="https://via.placeholder.com/220x312/4169E2/FFFFFF/?text=Book-B" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div>
      <img src="https://via.placeholder.com/220x312/c4c4c4/FFFFFF/?text=Book-C" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div>
      <img src="https://via.placeholder.com/220x312/17a2b8/FFFFFF/?text=Book-D" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>
  </div>
</div>

<footer id="footer">
  <h3>©2019 Suhstei - All Rights Reserved.</h3>
</footer>
