<div class="book-header">
  <div>
    <h1>{{book?.title}}</h1>
    <span>by <a href="#">{{book?.author}}</a></span>
  </div>
</div>

<div class="review-section">
  <div class="book-view">
    <img [src]="book?.avatar"  alt="">
    <h5 *ngIf="auth.isLoggedIn()">Connect with Book Owner</h5>
    <div *ngIf="auth.isLoggedIn()" class="contact-link">
      <a href="#"><i><img src="assets/icons/baseline-call-24px.svg" alt=""></i>Call</a>
      <a href="#"><i><img src="assets/icons/whatsapp.svg" alt=""></i>Chat</a>
    </div>
    <button *ngIf="auth.isLoggedIn()" class="book-button">Borrow Book</button>
  </div>


  <div class="book-article">
    <div class="uploader">
      <span class="image-cropper" style=" width: 40px; height: 40px; margin-inline-end: 25px;">
        <img src="assets/images/avatar.jpg" alt="avatar">
      </span>

      <h3>Shenske Nakamura</h3>
    </div>

    <h2>Book review</h2>
    <p> I’ve heard a lot of great things about Photography’s trouble shooter. Friends and co-workers tell me that this
      subjects is interesting and the manner in which this book was written is easy to follow without talking down to
      the reader. I wasn’t disappointed with Trouble shooter. In it, Justice Chads tackles the subject of good
      photography – how people are to create extraordinary photographs as opposed to regular ones.

      The thesis – that our pictures depends much more on circumstances out of our control than any effort we put
      forth – isn’t exactly revolutionary. Most of us know it to be true. However, I don’t think I’m lying when I say
      that most of us also believe that we if we just try that much harder and develop our talent that much further,
      it will be enough to become wildly successful in photography, despite bad or just mediocre beginnings.

      Most of the evidence Chads gives us is anecdotal, which is my favorite kind to read. I can’t really speak to how
      scientifically valid it is, but it sure makes for engrossing listening. For example, did you know that being a
      good photographer is not dependent on the value of your camera? If anyone could make photography interesting to
      a career person who only grudgingly admits that photography is even a career path , it’s Justice Chads. </p>
  </div>
</div>

<div class="more-book">
  <h3>More Books</h3>
  <div class="book-section-grid">
    <div>
      <img src="https://via.placeholder.com/220x312/b3d7ff/FFFFFF/?text=Book-A" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div>
      <img src="https://via.placeholder.com/220x312/4169E2/FFFFFF/?text=Book-B" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div>
      <img src="https://via.placeholder.com/220x312/c4c4c4/FFFFFF/?text=Book-C" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div>
      <img src="https://via.placeholder.com/220x312/17a2b8/FFFFFF/?text=Book-D" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>
  </div>
</div>

<footer id="footer">
  <h3>©2019 Suhstei - All Rights Reserved.</h3>
</footer>
