<app-sidebar></app-sidebar>
<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<section class="main" my-books>
  <!-- <div *ngIf="loading" loader>
    <img src="../../../../assets/icons/loading-indicator.svg" alt="">
  </div> -->

  <div class="profile-header" style="margin-block-end: 57px;">
    <div>
      <a [routerLink]="['/user/books']"><i class="icon-back"></i></a>
      <h1>My Books</h1>
    </div>
  </div>

  <form [formGroup]="newBookForm" (ngSubmit)="saveNewBook(newBookForm.value)">
    <div class="book-upload">
      <div id="imgFileUpload" (click)="fileLoader()">
        <span id="spnFilePath">Click to Upload Image</span>
        <input
          type="file"
          (change)="uploadFile($event)"
          id="FileUpload1"
          style="display: none;"
        />
      </div>

      <div>
        <div class="row">
          <div class="col-md-6">
            <label for="Book-Title">Book Title</label>
            <input
              formControlName="bookTitle"
              type="text"
              name="Book-Title"
              placeholder="Book Title"
              [ngClass]="{ 'invalid-input': !validBookTitle() }"
              trim
            />
            <em
              *ngIf="
                !validBookTitle() &&
                newBookForm.controls.bookTitle.errors.required
              "
              >Required</em
            >
          </div>

          <div class="col-md-6">
            <label for="Author">Author</label>
            <input
              formControlName="author"
              type="text"
              name="author"
              placeholder="Author"
              [ngClass]="{ 'invalid-input': !validAuthor() }"
            />
            <em
              *ngIf="
                !validAuthor() && newBookForm.controls.author.errors.required
              "
              >Required</em
            >
          </div>
        </div>

        <label for="Book-Review">Book Review</label>
        <textarea
          formControlName="bookReview"
          name="message"
          rows="10"
          cols="30"
          placeholder="Write review here..."
          [ngClass]="{ 'invalid-input': !validBookReview() }"
        ></textarea>
        <em
          *ngIf="
            !validBookReview() &&
            newBookForm.controls.bookReview.errors.required
          "
          >Required</em
        >

        <input type="submit" value="Save" />
      </div>
    </div>
  </form>
</section>
