<section class="category">
  <div class="header">
    <h2 class="header--h2">Category</h2>
    <h3 class="header--h3">Community categories</h3>
  </div>

  <div class="row link">
      <a href="#/community/result?category=art" class="">Art</a>
      <a href="#/community/result?category=biography" class="">Biography</a>
      <a href="#/community/result?category=business" class="">Business</a>
      <a href="#/community/result?category=christian" class="">Christian</a>
      <a href="#/community/result?category=children" class="">Children</a>
      <a href="#/community/result?category=classics" class="">Classics</a>
      <a href="#/community/result?category=comics" class="">Comics</a>
      <a href="#/community/result?category=cookbooks" class="">Cookbooks</a>

      <a href="#/community/result?category=e-books" class="">E-books</a>
      <a href="#/community/result?category=fantasy" class="">Fantasy</a>
      <a href="#/community/result?category=fiction" class="">Fiction</a>
      <a href="#/community/result?category=graphic+novels" class="">Graphic Novels</a>
      <a href="#/community/result?category=historical+fiction" class="">Historical Fiction</a>
      <a href="#/community/result?category=history" class="">History</a>
      <a href="#/community/result?category=Horror" class="">Horror</a>
      <a href="#/community/result?category=memoir" class="">Memoir</a>

      <a href="#/community/result?category=music" class="">Music</a>
      <a href="#/community/result?category=mystery" class="">Mystery</a>
      <a href="#/community/result?category=non+fiction" class="">Non Fiction</a>
      <a href="#/community/result?category=poetry" class="">Poetry</a>
      <a href="#/community/result?category=psychology" class="">Psychology</a>
      <a href="#/community/result?category=romance" class="">Romance</a>
      <a href="#/community/result?category=science" class="">Science</a>
      <a href="#/community/result?category=science+fiction" class="">Science Fiction</a>

      <a href="#/community/result?category=self+help" class="">Self Help</a>
      <a href="#/community/result?category=sport" class="">Sport</a>
      <a href="#/community/result?category=thriller" class="">Thriller</a>
      <a href="#/community/result?category=travels" class="">Travels</a>
      <a href="#/community/result?category=young+adult" class="">Young Adult</a>
      <a href="#/community/result?category=General" class="">General</a>
  </div>
</section>
