<app-sidebar></app-sidebar>

<section *ngIf="!editView" class="main" my-books>
  <div class="profile-header" style="margin-block-end: 57px;">
    <div>
      <a [routerLink]="['/user/books']"><i class="icon-back"></i></a>
      <h1>My Books</h1>
    </div>
    <a (click)="editBook()">Edit</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="book-thumbnail" >
        <img [src]="book?.avatar" alt="">

        <h5>{{book?.title}}</h5>
        <span>by <a href="#">{{book?.author}}</a></span>
      </div>
    </div>

    <div class="col-md-8">
      <article>
        <h2>Book review</h2>
        <p>{{book?.description}}</p>

      </article>
    </div>
  </div>

</section>

<app-edit-book *ngIf="editView" [bookData]="book" (turnOffEdit)="disableEdit()"></app-edit-book>
