<app-sidebar></app-sidebar>

<section class="main" my-books>
  <div class="profile-header" style="margin-block-end: 57px;">
    <div>
      <a [routerLink]="['/user/books']"><i class="material-icons">arrow_back_ios</i></a>
      <h1>My Books</h1>
    </div>
    <a href="#">Add Book</a>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="book-thumbnail" >
        <img src="assets/images/book1-4.png" alt="">

        <h5>Photographer’s trouble shooter</h5>
        <span>by <a href="#">Michael Freeman</a></span>
      </div>
    </div>

    <div class="col-md-8">
      <article>
        <h2>Book review</h2>
        <p>
            Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur doloreadipisicing labore et dolore magna aliqua.

            <br><br>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor qui dolorem ipsum quiaolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur doloreadipisicing labore et dolore magna aliqua in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        </p>

      </article>
    </div>
  </div>

</section>
