
<div *ngIf="ifBooksLended">
  <div class="book-list-header">
    <h2>List of Books Lend </h2>
    <span>(Confirm by clicking the recieved button once book is returned)</span>
  </div>

  <div class="book-section-grid" *ngFor="let array of lendedBooks | paginate: config">
    <div *ngFor="let item of array">
      <a [routerLink]="['/book-view', item.book_requested._id]" >
        <img [src]="item.book_requested.avatar" [alt]="item.book_requested.title">
          <h4>{{item.book_requested.title}}</h4>
      </a>
      <span>by <a href="/search-result?search={{item.book_requested.author}}">{{item.book_requested.author}}</a></span>
      <button (click)="onBookReturn(item)">Recieved</button>
    </div>
    
  </div>

  <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
</div>

<div *ngIf="!ifBooksLended" class="not-available">
  <h1>You have not lended any book yet</h1>
</div>