<div class="book-list-header">
  <h2>List of Books Lend </h2>
  <span>(Confirm by click the recieved button once book is returned)</span>
</div>

<div class="book-section-grid">
  <div class="book-section-subGrid">
    <img src="assets/images/book1.png" alt="">
    <h4>Photographer’s trouble shooter</h4>
    <span>by <a href="#">Michael Freeman</a></span>
    <button>Recieved</button>
  </div>

  <div class="book-section-subGrid">
    <img src="assets/images/book2.png" alt="">
    <h4>Photographer’s trouble shooter</h4>
    <span>by <a href="#">Michael Freeman</a></span>
    <button>Recieved</button>
  </div>

  <div class="book-section-subGrid">
    <img src="assets/images/book3.png" alt="">
    <h4>Photographer’s trouble shooter</h4>
    <span>by <a href="#">Michael Freeman</a></span>
    <button>Recieved</button>
  </div>

  <div class="book-section-subGrid">
    <img src="assets/images/book4.png" alt="">
    <h4>Photographer’s trouble shooter</h4>
    <span>by <a href="#">Michael Freeman</a></span>
    <button>Recieved</button>
  </div>
</div>
