.page-404 {
  position: relative;
  width: 100%;
  height: 100%;
}

.page-404 svg{
  position: absolute;
  right: 9.38%;
  top: 12.5%;
  z-index: -1;
}

.page-404 svg:last-child {
  position: absolute;
  left: -6.32%;
  top: 66.5%
  /* z-index: -1; */
}

.page-404 article {
  position: relative;
  top: 30%;
  width: 80%;
  margin: auto;
  text-align: center;
  color: #1D2029;
}

.page-404 article h1 {
  font-family: SFProText-bold;
  font-size: 9.375rem;
  line-height: 179px;
  margin: 0;
}

.page-404 article h2 {
  font-family: SFProText;
  font-size: 2.8rem;
  line-height: 54px;
  margin-block-start: 0;
  margin-block-end: 21px;
  color: #333333;
}

.page-404 article p {
  width: 50%;
  font-family: SFProText;
  font-size: 1rem;
  line-height: 30px;
  text-align: center;
  margin: auto;
  margin-block-end: 3.875rem;
}

.page-404 article a {
  font-family: SFProText;
  font-size: 1rem;
  line-height: 20px;
  padding:  1.125rem 4.125rem;
  text-decoration: none;
  color: #FFFFFF;
  background: #4169E2;
  box-shadow: 0px 9px 20px rgba(171, 180, 189, 0.148862);
  border-radius: 4px;
}

@media screen and (max-width: 64rem) {
  .page-404 article p {
    width: 70%;
  }
  .page-404 svg{
    right: 0;
  }
}

@media screen and (max-width: 56.25rem) {

  .page-404 article h1 {
    font-size: 4.375rem;
    line-height: 84px;
  }

  .page-404 article h2 {
    font-size: 2.125rem;
    line-height: 41px;
  }

  .page-404 article p {
    width: 80%;
    font-size: .875rem;
    line-height: 1.75rem;
  }


  .page-404 svg{
    width: 327px;
  }

  .page-404 svg:last-child {
    width: 327px;
  }
}
