<div class="page-404">
  <article>
    <h1>404</h1>
    <h2>Page not found</h2>

    <p>Oops!!! Sorry, we can’t find the page that you’re looking for. Kindly return to the homepage</p>

    <a [routerLink]="['']"rt >Back to Home</a>
  </article>

  <svg width="585" height="583" viewBox="0 0 585 583" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="292.5" cy="291.5" rx="292.5" ry="291.5" fill="#E6EBF5" fill-opacity="0.12"/>
  </svg>

  <svg width="494" height="343" viewBox="0 0 494 343" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="201.5" cy="291.5" rx="292.5" ry="291.5" fill="#E6EBF5" fill-opacity="0.12"/>
  </svg>

</div>
