<section >

  <div  class="signup-form">
    <h2>Login to Suhstei</h2>
    <h3>Enter your login details to proceed</h3>

    <form action="" #loginForm="ngForm" (ngSubmit)="login()">
      <em *ngIf="unAuthorized">Invalid email or password</em>
      <!-- username -->
      <em *ngIf="loginForm.controls.email?.invalid && (loginForm.controls.email?.touched)">Requires a valid email address</em>
      <input [(ngModel)]="credentials.email" name="email" [class.invalid-input]="loginForm.controls.email?.invalid &&
      loginForm.controls.email?.touched" type="email" placeholder="Email address" required>

      <!-- Password -->
      <em *ngIf="loginForm.controls.password?.invalid && (loginForm.controls.password?.touched)">Requires a password</em>
      <input [(ngModel)]="credentials.password" name="password" [class.invalid-input]="loginForm.controls.password?.invalid &&
      loginForm.controls.password?.touched" type="password" placeholder="Password" required>

      <div align="right">
          <a [routerLink]="['forgot-password']">Forgot Password?</a>
      </div>

      <!-- Submit button -->
      <input type="submit" [disabled]="loginForm.invalid" value="Login" class="button">

      <div register align="center">Don’t have an account? <a [routerLink]="['/user/sign-up']">Register Now</a></div>
    </form>
</div>
</section>

<app-footer></app-footer>
