<div class="hero-image">
  <div class="hero-text">
    <h1>Readers rule the world.</h1>
    <p>So let’s start connecting with other book lovers to lend books and start reading.</p>
  </div>
</div>

<div class="how-it-works-section">
  <svg width="364" height="583" viewBox="0 0 364 583" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="71.5" cy="291.5" rx="292.5" ry="291.5" fill="#E6EBF5"/>
  </svg>

  <div>
    <div>
      <img src="assets/images/section-two.png" alt="">
    </div>

    <article>
      <h2>How it works</h2>
      <p>Quuntur magni dolores eos qui ratione voluptatem sequi derer nesciunt. Neque porro quisquam est, qui dolorem ipsum gieart quiaolor sit amet, consectetur, adipisci velit, sed quia non quam eius modi tempora incidunt ut labore et dolore magnam dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

      <br><br>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse nulla.</p>
    </article>
  </div>
</div>

<div class="book-section">
  <article>
    <h3>Books</h3>
    <p>Get some of the most exciting books you have always been looking for</p>
  </article>

  <div class="book-section-grid">
    <div class="book-section-subGrid">
      <img src="assets/images/book1.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <img src="assets/images/book2.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <img src="assets/images/book3.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <img src="assets/images/book4.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>
  </div>
</div>

<app-footer></app-footer>
