<div class="hero-image">
  <div class="hero-text">
    <h1>Readers rule the world.</h1>
    <p>So let’s start connecting with other book lovers to lend books and start reading.</p>
  </div>
</div>

<article class="how-it-works-section">
  <svg width="364" height="583" viewBox="0 0 364 583" fill="none" xmlns="http://www.w3.org/2000/svg">
    <ellipse cx="71.5" cy="291.5" rx="292.5" ry="291.5" fill="#E6EBF5"/>
  </svg>

  <div>
    <h2>How it works</h2>
    <p>Looking for a book or need a book to read? We’ve got you covered . Lend, Borrow, Review
      <br> and connect with book lovers all over the world in 3 steps.</p>
  </div>

  <div style="display: flex; justify-self: center;">
    <span>
      <i><img src="assets/icons/flat-ui_search.svg" alt=""></i>
      <h4>Search for a book</h4>
      <p>Cillum ea consectetur excepteur alip enim ut ullamco amet commodo cupidatat.</p>
    </span>

    <span class="v-rule"></span>

    <span>
      <i><img src="assets/icons/network.svg" alt=""></i>
      <h4>Search for a book</h4>
      <p>Cillum ea consectetur excepteur alip enim ut ullamco amet commodo cupidatat.</p>
    </span>

    <span class="v-rule"></span>

    <span>
      <i><img src="assets/icons/emojione_green-book.svg" alt=""></i>
      <h4>Search for a book</h4>
      <p>Cillum ea consectetur excepteur alip enim ut ullamco amet commodo cupidatat.</p>
    </span>
  </div>
</article>

<div class="book-section">
  <article>
    <h3>Books</h3>
    <p>Get some of the most exciting books you have always been looking for</p>
  </article>

  <div class="book-section-grid">
    <div class="book-section-subGrid">
      <img src="assets/images/book1.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <img src="assets/images/book2.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <img src="assets/images/book3.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>

    <div class="book-section-subGrid">
      <img src="assets/images/book4.png" alt="">
      <h4>Photographer’s trouble shooter</h4>
      <span>by <a href="#">Michael Freeman</a></span>
    </div>
  </div>
</div>

<app-footer></app-footer>
