section {
  min-height: 100vh;
  padding-bottom: 5px;
}

.signup-form em {
  font-size: small;
  display: inline-block;
  color: #E00202;
  margin-block-start: .75rem;
  /* padding-block-start: 0rem; */
}
.signup-form input.invalid-input  {
  border: 1px solid #E00202;
  background: url("/assets/icons/warning.svg") no-repeat scroll 97%;
  margin-top: 0;
}

.signup-form .button:disabled{
  background-color: #aeb0b7;
}


@media screen and (min-width: 768px) {
  section {
    background-color: #e5e5e5;
  }
}