@font-face{
  font-family:SFProText-bold;
  src:url("/assets/fonts/SF-Pro-Text-Bold.woff")
}

@font-face{
  font-family:SFProText;
  src:url("/assets/fonts/SF-Pro-Text-Regular.otf")
}

@font-face{
  font-family:CircularStd;
  src:url("/assets/fonts/CircularStd-Medium.woff")
}
html, body {
	font-size: 100%;
  height: 100%;
  margin:0;
  padding:0;
	width: 100%;
	/* background: #F1F1F1 !important; */
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding-top: 85px;
}
footer {
  /* position:absolute; */
  /* bottom:0; */
  width:100%;
  height:140px;			/* Height of the footer */
  background: #C4C4C4;
}
footer h3 {
	font-family: CircularStd;
	font-style: normal;
	font-weight: 450;
	font-size: 1.125rem;
	display: flex;
	align-items: center;
  text-transform: capitalize;
  padding: 3.75rem 12.5rem;
  padding-inline-end: 50px;
  margin: 0;
	color: #1D2029;
}
#footer.stikybottom {
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
}

.book-section-grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: auto;
  margin-bottom: 5.5rem;
}
.review-section {
  margin-block-start: 88px;
}
.review-writeup .book-thumbnail {
  display: flex;
  flex-direction: row;
  margin-top: 0.625rem;
  margin-bottom: 1.5rem;
}
.review-info .book-thumbnail > img {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  margin-bottom: 1.5rem;
}

@media (max-width: 900px) {
  .book-section-grid {
    margin-bottom: 51px;
  }
}
@media (max-width: 768px) {
  .book-section-subGrid {
    flex: 0 0 auto;
    margin-inline-end: 20px;
  }
}

@media (max-width: 600px) {
  footer {
    height:110px;			/* Height of the footer */
  }
  footer h3 {
    padding: 45px 20px;
  }
}

@media (max-width: 320px) {
  footer h3 {
    padding: 44px 11px;
  }
}
